@import './fonts';


//Colors
$Slate: #5C667E;
$Graphite: #232940;
$Green: #158463;
$Cloud: #BDC5D5;
$Light-Grey: #F7F8F9;
$Red: #C94515;
$InStock-Green: rgba(21, 132, 99, 0.07);
$OutofStock-Red: rgba(201, 69, 21, 0.07);

//Fonts
$lightFont: "DM Sans Light";
$regularFont: "DM Sans Normal";
$boldFont: "DM Sans Bold";
$italicFont: "DM Sans Italic";

//Padding or Margin
$mobile-pad: 1rem;