@import './fonts';


//Colors
$F-Blue: #E5E8F8;
$F-DarkBlue: #9094b0;
$F-Black: #020619;
$F-Gray: #A2A2A2;
$F-Orange: #F4D3C9;
$White: #FFF;


$Black: #13182C;
$Slate: #5C667E;
$Graphite: #232940;
$Green: #158463;
$Cloud: #BDC5D5;
$Light-Grey: #F7F8F9;
$Red: #C94515;
$fiservOrange: #ff6600;


//Fonts
$lightFont: "DM Sans Light";
$regularFont: "DM Sans Normal";
$boldFont: "DM Sans Bold";
$italicFont: "DM Sans Italic";

//Padding or Margin
$mobile-pad: 1rem;