@import '../../styles/partials/global';
@import '../../styles/partials/variables';

.inprogress {
    margin: 30px 20px;
    &-title {
        font-weight: bold;
        padding-left: 5px;
        padding-bottom: 5px;
    }
    &-coupons {
        height: 110px;
        position: relative;
        background-color: $F-Orange;
        padding: 15px 15px 0;
        .details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-bottom: 10px;
            line-height: 18px;
            font-weight: bold;
        }
        .percent {
            font-size: 12px;
        }   
        .cost {
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 10px;
            .price {
                color: red;
                padding-left: 3px;
            }
        }
        .progress-container {
            position: absolute;
            left: 30%;
            width: 181px;
            height: 5px;
            background-color: #D9D9D9;
            border-radius: 100px;
            .progress {
                background-color: #36ED53;
                width: 138px;
                height: 5px;
                border-radius: 100px;
            }
            .progress2 {
                background-color: #36ED53;
                width: 90.5px;
                height: 5px;
                border-radius: 100px;
            }
        } 
    }
}