@import '../../styles/partials/global';
@import '../../styles/partials/variables';

.home_top {
    padding: $mobile-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .left {
        width: 50vw;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &-user {
            margin-right: $mobile-pad;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #E1E1E1;
            width: 15px;
            height: 15px;
            border: 0.5px solid #E1E1E1;
            border-radius: 50%;
        }
        &-greeting {
            font-size: 6px;
            width: 5vw;
        }
    }
    .right {
        width: 50vw;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        &-filter {
            font-size: 15px;
            margin-left: $mobile-pad;
        }
    }
}

.home_recommendation {
    margin-top: 25px;
    padding: $mobile-pad;
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
        font-size: 12px;
    }
    p {
        font-size: 6px;
    }
}